/* Assuming you have similar base styles for body, buttons, etc., as in Educator.css */

.admin-dashboard-container {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  /* Apply any additional main content styles */
}

.sidebar {
  flex-basis: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-btn {
  background-color: #009688;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
}

.sidebar-btn:hover {
  background-color: #00796B;
}
