.login-container {
  background-image: url("../../public/images/back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: relative; /* Adjusted to relative for content positioning */
  max-width: 400px;
  margin: 100px auto; /* Adjust margin for vertical alignment */
  padding: 20px;
  border-radius: 5px;
  color: #fff; /* Ensure text color is white for visibility */
  animation: slideIn 1s ease;
  
  width: 100%; /* Full width */
  min-height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the form vertically and horizontally */
  z-index: 1;


}

/* Reuse button styles from Hero.css or define them here to match */
.button button, .button a {
  /* Button styles to match Hero */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff; /* Example primary button color */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; /* Remove for <a> elements */
  transition: background-color 0.5s ease;
}

.button button:hover, .button a:hover {
  background-color: #0056b3;
}

  
  /* New keyframe animation for slide-in effect */
  @keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='password'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.5s ease; /* Hover animation */
  }
  
  input[type='text']:hover,
  input[type='password']:hover {
    border-color: #007bff; /* Change border color on hover */
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease; /* Hover animation */
  }
  
  button:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
  